p::first-line {
    color: red;
}

h1::first-letter {
    font-size: 40px;
    color: salmon;
}

li {
    list-style: none;
}

li::after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(./download.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
p::selection{
    background-color: yellow;
    color: orange;
}