.container {
    height: 1000px;
    background-color: azure;
    display: grid;
    grid-template: auto auto / auto auto auto auto;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-around;
}

.srq1 {
    background-color: red;
}

.srq2 {
    background-color: blue;
}

.srq3 {
    background-color: yellow;
}

.rect {
    width: 100px;
    height: 400px;
}